/* --------------- Layout --------------- */

#top-background {
    width: 100%;
    height: 340px;
    background: url(../../images/gradient-top.png) repeat-x top;
    position: fixed;
    top: 0px;
    z-index: -1;
}

#bottom-background {
    background: url(../../images/gradient-bottom.png) repeat-x bottom;
    position: fixed;
    bottom: 0px;
    height: 130px;
    width: 100%;
    z-index: -1;
}

header {
    padding: 20px 0 40px;
}

#content-container {
    #translucent > .background(@white, 0.8);
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    border-top: 1px solid white;
    padding: 30px 20px;
    margin-bottom: 40px;
}

#maincontent {
    padding-left: 24px;
}

#info-input {
    width: 480px;
    height: 200px;
}

.thumbnails.textures > li.thumbbox {
    width: 300px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 0;
    text-align: center;
    
    img {
        max-height: 250px;
    }

    .caption {
        text-align: left;
        padding: 5px;
    }

    .bottom-line {
        margin-top: 10px;
    }
}

.thumb-view {
    display: block;
    padding: 18px 0;
    border-top: 1px solid #eee;
}

.comment-view {
    padding: 18px 0;

   // & + & {
    //    border-top: 1px solid #eee;
    //}
}

.status {
    font-size: 2em;
    text-align: right;
}

input.long {
    width: 320px;
}
