<td {{action "chooseMainApp"}}>
  {{#if view.mainAppLabel}}
    <span class='label'><b>main app</b></span>
  {{else}}
    <span class='btn btn-link'>select</span>
  {{/if}}
</td>
<td>
    <a target="blank" {{bindAttr href="codefile.local_url"}}>{{codefile.name}}</a>
</td>
<td>{{codefile.size}} byte</td>
<td>
    {{#if view.isCoffeeCode}}
        <div class="btn" {{action "compileCoffee"}}>compile</div>
    {{/if}}
    {{#if view.isJsCode}}
        <div class="btn" {{action "minifyCode"}}>minify</div>
    {{/if}}
    {{#if codefile.local_delete}}
        <div class="btn" {{action "undoDelete"}}><i class="icon-trash"></i> undo</div>
    {{else}}
        <div class="btn" {{action "delete"}}><i class="icon-trash"></i> delete</div>
    {{/if}}
</td>
<td class="status"><i {{bindAttr class="codefile.local_statusClass"}}></i></td>
