<div class="comment-view">
    <div><h2>Comment {{comment.index}} <span class="small">on {{comment.local_time}}</span></h2></div>
    <div class="inline">
        <span>
        {{#if comment.active}}
            <span class="label label-info">active</span>
        {{else}}
            <span class="label">inactive</span>
        {{/if}}
        </span>
        &nbsp;&nbsp;&nbsp;<div class="btn" {{action "toggleActive"}}>toggle</div>
    </div>
    <div class="inline">
        {{#if comment.local_delete}}
        <div class="btn" {{action "undoDelete"}}><i class="icon-trash"></i> undo</div>
        {{else}}
        <div class="btn" {{action "delete"}}><i class="icon-trash"></i> delete</div>
        {{/if}}
    </div>
    <div class="inline status"><i {{bindAttr class="comment.local_statusClass"}}></i></div>
    <br /><br />
    <div>Author: {{comment.author}}</div>
    <div>Email: {{comment.email}}</div>
    {{#if comment.url}}<div>Website: {{comment.url}}</div>{{/if}}
    <br />
    <div>Message:</div>
    <div class="pre">{{comment.message}}</div>
</div>
