{{#if selected}}
{{#with selected}}
<h1>edit {{name}}</h1>
<br />
<form>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#draft-data" data-toggle="tab">data</a></li>
        <li><a href="#draft-info" data-toggle="tab">info</a></li>
        <li><a href="#draft-code" data-toggle="tab">code</a></li>
        <li><a href="#draft-models" data-toggle="tab">models</a></li>
        <li><a href="#draft-textures" data-toggle="tab">textures</a></li>
        <li><a href="#draft-comments" data-toggle="tab">comments</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                actions <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li {{action "resetSelected"}}><a href="#"><i class="icon-fast-backward"></i> reset changes</a></li>
                <li {{action "deleteSelected"}}><a href="#"><i class="icon-trash"></i> delete draft</a></li>
            </ul>
        </li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="draft-data">
            <span>
            {{#if active}}
                <span class="label label-info">active</span>
            {{else}}
                <span class="label">inactive</span>
            {{/if}}
            </span>
            &nbsp;&nbsp;&nbsp;<div class="btn" {{action "toggleActive"}}>toggle</div>

            <hr />
            <div class="row-fluid">
                <div class="span5">
                    <label for="id-input">id</label>
                    {{view Ember.TextField valueBinding="_id" elementId="id-input"}}
                </div>
                <div class="span7">
                    <label for="name-input">name</label>
                    {{view Ember.TextField valueBinding="name" elementId="name-input"}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    <label for="width-input">width</label>
                    {{view Ember.TextField valueBinding="width" elementId="width-input"}}
                </div>
                <div class="span7">
                    <label for="height-input">height</label>
                    {{view Ember.TextField valueBinding="height" elementId="height-input"}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    <label for="version-input">version</label>
                    {{view Ember.TextField valueBinding="version" elementId="version-input"}}
                </div>
                <div class="span7 input-append">
                    <label for="lastChange-input">last change</label>
                    {{view Ember.TextField valueBinding="lastChange" elementId="lastChange-input"}}
                    <div class="btn" {{action "updateTime"}}><i class="icon-refresh"></i></div>
                    <br> {{timeString}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span9">
                    <label for="sourcelink-input">source code link</label>
                    {{view Ember.TextField valueBinding="sourcelink" elementId="sourcelink-input" class="long"}}
                </div>
            </div>

            <br /><br />
            {{#each thumbfile in local_thumbs}}
                {{view "view.thumbView" thumbBinding="thumbfile"}}
            {{/each}}
            <div class="btn" {{action "selectThumb"}}><i class="icon-plus"></i> add thumb</div>

            <br /><br />
            {{#each screenshotfile in local_screenshots}}
                {{view "view.screenshotView" screenshotBinding="screenshotfile"}}
            {{/each}}
            <div class="btn" {{action "selectScreenshot"}}><i class="icon-plus"></i> add screenshot</div> 
        </div>

        <div class="tab-pane" id="draft-info">
            <label for="info-input">info</label>
            {{view Ember.TextArea valueBinding="info" elementId="info-input"}}

            <br /><br />

            <label for="navigation-input">navigation</label>
            {{view Ember.TextArea valueBinding="navigation" elementId="navigation-input"}}
        </div>

        <div class="tab-pane" id="draft-code">
            <table class="table">
                <thead>
                    <tr>
                        <th>main app</th>
                        <th>name</th>
                        <th>size</th>
                        <th>actions</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each codefile in local_code}}
                        {{view "view.codeView" codeBinding="codefile"}}
                    {{/each}}
                </tbody>
            </table>
            <div class="btn" {{action "selectCode"}}><i class="icon-plus"></i> add new code</div> 
        </div>

        <div class="tab-pane" id="draft-models">
            <table class="table">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>size</th>
                        <th>actions</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each modelfile in local_models}}
                        {{view "view.modelView" modelBinding="modelfile"}}
                    {{/each}}
                </tbody>
            </table>
            <div class="btn" {{action "selectModel"}}><i class="icon-plus"></i> add new model</div> 
        </div>

        <div class="tab-pane" id="draft-textures">
            <ul class="thumbnails textures">
            {{#each texture in local_textures}}
                {{view "view.textureView" textureBinding="texture"}} 
            {{/each}}
            </ul>
            <div class="btn" {{action "selectTexture"}}><i class="icon-plus"></i> add new texture</div> 
        </div>

    </div>
    <input type="file" id="file-selector" style="visibility:hidden; position: absolute; top: -1000px: left: -1000px"/>
</form>
{{/with}}
{{else}}
<h1>no draft selected</h1>
{{/if}}
