<td>
    <a target="blank" {{bindAttr href="modelfile.local_url"}}>{{modelfile.name}}</a>
</td>
<td>{{modelfile.size}} byte</td>
<td>
    {{#if modelfile.local_delete}}
    <div class="btn" {{action "undoDelete"}}><i class="icon-trash"></i> undo</div>
    {{else}}
    <div class="btn" {{action "delete"}}><i class="icon-trash"></i> delete</div>
    {{/if}}
</td>
<td class="status"><i {{bindAttr class="modelfile.local_statusClass"}}></i></td>
