<div class="inline">
    <a class="thumbnail" style="max-width: 100px; max-height: 100px" target="blank" {{bindAttr href="screenshotfile.local_url"}}>
        <img {{bindAttr src="screenshotfile.local_url" alt="screenshotfile.name"}}>
    </a>
</div>
<div class="inline">
    <div><a target="blank" {{bindAttr href="screenshotfile.local_url"}}>{{screenshotfile.name}}</a></div>
    <div>size: {{screenshotfile.size}} byte</div>
    <div {{action "select"}}>
        {{#if view.mainScreenshot}}
            <span class='label'><b>selected</b></span>
        {{else}}
            <span class='btn btn-link'>select</span>
        {{/if}}
    </div>
</div>
<div class="inline">
    {{#if screenshotfile.local_delete}}
        <div class="btn" {{action "undoDelete"}}><i class="icon-trash"></i> undo</div>
    {{else}}
        <div class="btn" {{action "delete"}}><i class="icon-trash"></i> delete</div>
    {{/if}}
</div>
<div class="status inline"><i {{bindAttr class="screenshotfile.local_statusClass"}}></i></div>
