<ul class="nav nav-list">
    <li class="nav-header">current drafts</li>
    {{#each draft in controller}}
        {{#view "view.listItem" draftBinding="draft"}}
            <a href="#">
                <i {{bindAttr class="draft.iconClass"}}></i>
                {{draft.name}}
            </a>
        {{/view}}
    {{/each}}
    <li class="divider"></li>
    <li class="nav-header">actions</li>
    <li {{action "addNew" target="controller"}}><a href="#"><i class="icon-plus"></i> create new draft</a></li>
    <li {{action "getRemote" target="controller"}}><a href="#"><i class="icon-download-alt"></i> get remote drafts</a></li>
    <li class="divider"></li>
    <li class="btn btn-large btn-primary" {{action "uploadChanges" target="controller"}}>
        upload changes
    </li>
</ul>
