<div class="thumbnail">
    <a target="blank" {{bindAttr href="texture.local_url"}}>
        <img {{bindAttr src="texture.local_url" alt="texture.name"}}>
    </a>
    <div class="caption">
        <h4>{{texture.name}}</h4>
        <div>size: {{texture.size}} byte</div>
        <div class="row-fluid bottom-line">
            <div class="span9">
                {{#if texture.local_delete}}
                <div class="btn" {{action "undoDelete"}}><i class="icon-trash"></i> undo</div>
                {{else}}
                <div class="btn" {{action "delete"}}><i class="icon-trash"></i> delete</div>
                {{/if}}
            </div>
            <div class="span3 status">
                <i {{bindAttr class="texture.local_statusClass"}}></i>
            </div>
        </div>
    </div>
</div>
