<div class="inline">
    <a class="thumbnail" target="blank" {{bindAttr href="thumbfile.local_url"}}>
        <img {{bindAttr src="thumbfile.local_url" alt="thumbfile.name"}}>
    </a>
</div>
<div class="inline">
    <div><a target="blank" {{bindAttr href="thumbfile.local_url"}}>{{thumbfile.name}}</a></div>
    <div>size: {{thumbfile.size}} byte</div>
    <div {{action "select"}}>
        {{#if view.mainThumb}}
            <span class='label'><b>selected</b></span>
        {{else}}
            <span class='btn btn-link'>select</span>
        {{/if}}
    </div>
</div>
<div class="inline">
    {{#if thumbfile.local_delete}}
        <div class="btn" {{action "undoDelete"}}><i class="icon-trash"></i> undo</div>
    {{else}}
        <div class="btn" {{action "delete"}}><i class="icon-trash"></i> delete</div>
    {{/if}}
</div>
<div class="status inline"><i {{bindAttr class="thumbfile.local_statusClass"}}></i></div>
